<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Signika+Negative&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/style.css">
    <title>URl Shrinker</title>
</head>
<body>
    <div class="container">
         <h1 style="color:aqua;font-weight:bold">URL Shrinker!</h1>
        <form action="/shortURL" class="form-inline" method="post">  
              <input required type="url" class="form-control col mb-2" id="fullUrl" name="fullUrl" placeholder="Enter a url" >
              <button type="submit" class="btn btn-primary mb-5">Shrink</button>   
          </form>

<table class="table table-dark table-responsive">
    <thead >
        <tr>
            <th> </th>
            <th>Full URL </th>
            <th>Short URL</th>
            <th>Clicks</th>
        </tr>
    </thead>
    <tbody>
        <!--element will the single document of the urls collection-->
          <%urls.forEach((element)=>{%>
            
            <tr>
                <td>
                <a href="/delete/<%=element._id%>"> <i class="fa fa-trash-o" style="font-size:31px;color:rgb(235, 46, 46);"></i> </a>
                </td>
                <td> <a href="<%=element.full %>" target="_blank"><%=element.full %></a></td>
                <td><a href="<%=element.short %>" target="_blank"><%=element.short %></a></td>
                <td><%=element.clicks %></td>
            </tr>
         <% })%>
            
          

        
    </tbody>

</table>
</div>
<div class="container"> 
    
  <div class="content-para"> 
    <h1 style="color:black;font-weight:bold;text-align: left;margin-top: 5vh;">Simple and fast URL Shrinker!</h1>
     URL Shrinker allows to shorten long links from Instagram, Facebook, YouTube, Twitter, Linked In, WhatsApp, TikTok, blogs and sites. Just paste the long URL and click the Shrink button. Copy the shortened URL and share it on sites, chat and emails. After shortening the URL, check how many clicks it received. </div>
    </div>

    <div class="footer">  
    <p> Made with ❤️ by Akanksha Gupta </p>
    <p > <span>Connect me on:</span>
         
        <a href="https://www.instagram.com/aakanksha_g30" target="_blank" id="link1" class="link"> <i class="fa fa-instagram" > </i></a>
        <a href="https://www.linkedin.com/in/akanksha-gupta-254804216/" target="_blank" class="link"> <i class="fa fa-linkedin" > </i></a>
        <a href="https://twitter.com/Akanksha44854?t=Z1RDIrht0KK_gMFfPBUrFw&s=09" target="_blank" class="link"> <i class="fa fa-twitter" ></i> </a>
        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" class="link" style="margin-left:7px;"> <i class="fa fa-envelope" ></i> </a>
    </p>

</div>
</body>
</html>
